<h1>Show page for Start Up #<%= @start_ups["id"] %></h1>
<dl class="lower-margin-box" >
  <dt>Founder: </dt><dd><%= @start_ups["founder"] %></dd>
  <dt>Country: </dt><dd><%= @start_ups["country"] %></dd>
  <dt>Funding: </dt><dd><%= @start_ups["funding"] %></dd>
  <dt>Url: </dt><dd><%= @start_ups["url"] %></dd>
</dl>
